$mainWhiteColor: #ffffff;
$jumboParColor: #bcbcbc;
$headerColor: #1f2154;
$coursesSectColor: #f5f7fa;
$coursesSectTextColor: #293259;
$blogSect_footerColor: #f8f8f8;
$btnsColor: #27ab94;
$highlightedTextColor: #1fad96;
$sectHeadlineTextColor: #6c6c6c;
